<div class="row">
    <div class="col-12">
        <div class="form-group">
            <div>
                <div class="card-header bodyBill">
                    <div class="row" style="padding-right: 15px;">
                      <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                        <h1>ผู้ดูแลระบบ</h1>
                        </div>
                    </div>
                </div>

                <div class="card-body card-custom-body bodyBill">
                    <div class="form-group row clearfix ml-lg-5 mr-lg-5">

                        <div class="col-md-4 col-sm-12 col-12  boxmenu">
                          <a [routerLink]="['/UserManage']">
                            <div class="feature-box">   
                              <span class="feature-icon"><i class="fas fa-user"></i></span>
                              <h5>จัดการข้อมูลสมาชิก</h5>
                            </div>
                          </a>
                        </div>

                        <div class="col-md-4 col-sm-12 col-12 boxmenu">
                            <a [routerLink]="['/Brand']">
                              <div class="feature-box">
                                <span class="feature-icon"><i class="fas fa-wine-bottle"></i></span>
                                <h5>จัดการยี่ห้อสินค้า</h5>
                              </div>
                            </a>
                          </div>
                          <div class="col-md-4 col-sm-12 col-12 boxmenu">
                            <a [routerLink]="['/Type']">
                              <div class="feature-box">
                                <span class="feature-icon"><i class="fas fa-inbox"></i></span>
                                <h5>จัดการประเภทสินค้า</h5>
                              </div>
                            </a>
                          </div>
                          <div class="col-md-4 col-sm-12 col-12 boxmenu">
                            <a [routerLink]="['/Pakage']">
                              <div class="feature-box">
                                <span class="feature-icon"><i class="fas fa-box-open"></i></span>
                                <h5>จัดการบรรจุภัณฑ์</h5>
                              </div>
                            </a>
                          </div>
                          <!-- <div class="col-md-4 col-sm-12 col-12 boxmenu">
                            <a [routerLink]="['/Unit']">
                              <div class="feature-box">
                                <span class="feature-icon"><i class="fas fa-user"></i></span>
                                <h5>Unit</h5>
                              </div>
                            </a>
                          </div> -->
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
