table {
  border-collapse: separate;
  border-spacing: 0 8px;

}

thead th {
  font-size: 16px;
  color: #14161A;
  border: solid 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}

tbody td {
  background-color: #ffffffc7;
}

tbody tr {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

tr td:first-child,
tr {

  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr td:last-child,
tr {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.bodytable {
  background-color: #F8F9FD;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;

}

.bodyBill {
  background-color: #ffffff;
}

.box-search {
  max-width: 100%;
  height: 50px;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

.box {
  /* width: 200px; */
  height: 50px;
}

.box-2 {
  /* width: 150px; */
  height: 50px;
}

.box-3 {
  /* width: 100px; */
  height: 50px;
}

.container-search {
  overflow: hidden;
  max-width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 8px;

}

.container-1 {
max-width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}



.container-2 {
  max-width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-3 {
  width: 100px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  -ms-transform: translateY(15%);
  transform: translateY(15%);
}

.container-search input#search {
  max-width: 100%;
  width: 30em;
  height: 50px;
  background: #ffffff;
  border: none;
  font-size: 14pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 8px;

}

.container-search input#search::-webkit-input-placeholder {
  color: #14161A;
}

.container-search input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #14161A;
}

.container-search input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #14161A;
}

.container-search input#search:-ms-input-placeholder {
  color: #14161A;
}

.container-search button.icon {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-radius: 8%;
  border: none;
  background: #335DFF;
  height: 35px;
  width: 35px;
  color: #ffffff;
  opacity: 1;
  font-size: 10pt;
  margin-left: -50px;
  margin-top: 6px;
  outline: none;
  float: right;
  box-shadow: 0 4px 8px 2px rgba(51, 93, 255, 0.5);

}



.container-1 input#search {
  width: 200px;
  height: 50px;
  background: #ffffff;
  border-color: #818CAB;
  border-width: 3px;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

}


.container-1 input#date {
  max-width: 100%;
width: 20em;
  height: 50px;
  background: #ffffff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 8px;
  box-shadow: 0 0 6px 0px rgba(51, 93, 255, 1);

}

.container-2 select {
  padding-right: 18px;
  width: 20em;
  max-width: 100%;
  height: 40px;
  background: #ffffff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 8px;
  text-align-last: center;
  box-shadow: 0 0 6px 0px rgba(51, 93, 255, 1);

}




select .lt {
  text-align-last: center;
}






.container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #14161A;
}


.container-2 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 12px;
  z-index: 1;
  color: #14161A;
}

.container-2 .label {
  position: absolute;
  top: 50%;

  margin-top: 15px;
  z-index: 1;
  color: #14161A;
}

/* .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
outline:none;
background: #ffffff;
} */

.containerFillter {
  width: fit-content;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
}

.statusApprove {
  width: 100%;
  background-color: rgba(0, 186, 103, 0.3);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 6px;

}

.statusPeding {
  width: 100%;
  background-color: rgba(245, 166, 35, 0.3);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 6px;

}

.statusReject {
  width: 100%;
  background-color: rgba(253, 66, 84, 0.3);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 6px;

}
