<div class="row">
  <div class="col-12">
    <div class="form-group">
      <div class="card card-custom">
        <div class="card-header card-custom-header">
          <div class="row" style="padding-right: 15px;">
            <div class="col-lg-10 col-md-12 col-sm-12 col-12">
              <h3> จัดการยี่ห้อสินค้า</h3>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-5 col-7">
              <button class="btn btn-success" style="float: right;" (click)="addModel(AddBrand)"><em
                  class="fas fa-plus"></em>&nbsp;
                เพิ่มยี่ห้อใหม่</button>
            </div>
          </div>
        </div>
        <div class="card-body card-custom-body">
          <div class="form-group row _MB0px mt-3 PD">
            <div class="table-responsive bodytable" style="overflow-y:200px; height: 50rem;">
              <div class="col-md-12 col-sm-12 col-12 ">
                <!--Displaying Table-->
                <table id="tb" class="table _MB0px">
                  <thead class="tableColor">
                    <tr>
                      <th class="text-center align-middle" *ngFor="let _Item of Columns" [style.width]="_Item.Width">
                        <span [innerHTML]="_Item.ColumnName"></span>&nbsp;
                        <em *ngIf="_Item.SortField != ''"></em>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let brand of arrBrand | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;index as num">
                      <td class="text-center align-middle"><label
                          class="col-form-label">{{page == 1 ? num+1: num+1 +((page-1)*10)}}</label>
                      </td>
                      <td class="text-left align-middle"><label class="col-form-label"></label>{{brand.title}}</td>
                      <td class="text-center align-middle">
                        <!--<label class="col-form-label">-->
                        <button type="button" class="btn btn-sm btn-warning" (click)="Edit(AddBrand,brand.id)"><em
                            class="fa fa-pencil-alt"></em></button>&nbsp;
                        <button type="button" class="btn btn-sm btn-primary" (click)="Delete(brand.id)"><em
                            class="fas fa-trash"></em></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="float-right">
            <ngb-pagination [collectionSize]="arrBrand.length" [(page)]="page" [maxSize]="5" [rotate]="true"
              [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Insert-->
  <ng-template #AddBrand>
    <div class="modal-header card-header card-custom-modal">
      <div *ngIf="modeAdd" class="modal-title pull-left"><em class="fas fa-plus"></em>&nbsp;&nbsp;เพิ่มยี่ห้อสินค้า
      </div>
      <div *ngIf="!modeAdd" class="modal-title pull-left"><em class="fas fa-plus"></em>&nbsp;&nbsp;แก้ไขข้อมูลยี่ห้อ
      </div>
      <button style="color:white" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-md-12 col-sm-12 col-12">
        <div class="row">
          <div class="col-lg-12 col-12 col-sm-12 col-md-12">
            <div class="input-group">
              <div class="col-lg-4 col-12 col-sm-12 col-md-12">
                <label for="sNameProduct">ชื่อยี่ห้อ : </label></div>
              <div class="col-lg-7 col-12 col-sm-12 col-md-12"
                [ngClass]="diaplayCss(brand.name,'string',validate.name)">
                <input type="text" class="form-control" id="sNameProduct" [(ngModel)]="brand.name"></div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="text-center">
        <button *ngIf="modeAdd" type="button" class="btn btn-success _MBLR10px" (click)="Save()"><em
            class="fas fa-save"></em>&nbsp;บันทึก</button>&nbsp;
        <button *ngIf="!modeAdd" type="button" class="btn btn-success _MBLR10px" (click)="SaveEdit()"><em
            class="fas fa-save"></em>&nbsp;บันทึก</button>&nbsp;
        <button type="button" class="btn btn-secondary _MBLR10px" (click)="modalRef.hide()"><em
            class="fas fa-undo-alt"></em>&nbsp;ยกเลิก</button>&nbsp;

      </div>
    </div>
  </ng-template>
</div>